<div class="main-container">
    <article class="create-account">
        <h2>Create Account</h2>
        <form>
            <label class="input-label">Username</label><br>
            <input type="text" class="text-input" /><br>
            <label class="input-label" for="email">E-Mail</label><br>
            <input type="text" class="text-input" />
            <br>
            <label class="input-label" for="password">Password</label><br>
            <input type="password" name="password" class="text-input" />
            <br>
            <label class="input-label">Repeat Password</label><br>
            <input type="password" name="password" class="text-input" />
            <br>
            <button type="submit" class="button">Sign Up</button>
        </form>
    </article>
</div>